//current weather
#current-weather {
  display: grid;
}

#current-weather-main {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  color: #fff;
}

#current-weather-main-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#current-weather-main img {
  width: 12rem;
  height: auto;
}

#current-weather-main-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#current-weather-temp {
  font-size: 4rem;
  margin-bottom: 1rem;
}

#current-weather-details {
  display: grid;

  gap: 2rem;
  align-content: center;
  justify-items: center;
  color: #fff;
}

.detail-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.detail-label {
  color: #aaa;
  font-size: 1rem;
}
