footer {
  margin: 2rem auto;
}

footer a {
  color: #fff;
  text-decoration: none;
  :hover {
    color: #fff;
    text-decoration: none;
    filter: brightness(90%);
  }
}

#github-icon {
  color: #fff;
  width: 3rem;
  height: auto;
}
