#top-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0277bd;
  border-bottom: 0.1rem solid #666;
  padding: 0.5rem;
  color: #fff;
}

#top-banner h1 {
  font-size: 1.8rem;
  padding-left: 1rem;
  font-weight: 800;
}
