#results {
  width: 100%;
  position: absolute;
  overflow: hidden;
  background-color: #fff;
  border-radius: 0 0 0.5rem 0.5rem;
  z-index: 3;
}

.result {
  background: #fff;
  padding: 1rem;
}

.result:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.selected {
  filter: brightness(90%);
}
