#results {
  width: 100%;
  position: absolute;
  overflow: hidden;
  border-top: 0.1rem solid #eee;
  background-color: #fff;
  border-radius: 0 0 0.5rem 0.5rem;
  z-index: 3;
}

.result {
  background: #fff;
  padding: 1rem;
  list-style: none;
  :hover {
    filter: brightness(90%);
    cursor: pointer;
  }
}

.selected {
  filter: brightness(90%);
}

#partial-list {
  width: 100%;
  position: absolute;
  overflow: hidden;
  background-color: #fff;
  border-top: 0.1rem solid #eee;
  border-radius: 0 0 0.5rem 0.5rem;
  z-index: 3;
}

#partial-heading {
  padding: 1rem;
  background: #eee;
  font-size: 1rem;
  font-weight: 700;
}

.partial-result {
  padding: 1rem;
  font-size: 1rem;
  list-style: none;
  :hover {
    cursor: pointer;
    background-color: #eee;
  }
}

#inner-button {
  margin-top: 0;
  border-radius: 0;
}
