#search-form {
  align-self: center;
  justify-self: center;
  width: 100%;
  max-width: 36rem;
  margin-bottom: 3rem;
  padding: 1rem;
}

#search-heading {
  margin: 2rem auto;
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

#search-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-results {
  position: relative;
  width: 100%;
}

#input-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  box-shadow: 0 8px 6px -6px #222;
}

#search-input {
  position: relative;
  width: 100%;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  outline: 0;
}

.search-button {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  margin-top: 2rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  background: #27ae60;
  box-shadow: 0 8px 6px -6px #222;
  transition: all 0.2 ease-in-out;
  :hover {
    color: #fff;
    background: #229954;
    cursor: pointer;
  }
}

#cancel-button {
  color: #aaa;
  background-color: transparent;
  border: none;
  background-color: #fff;
  :hover {
    color: #888;
    cursor: pointer;
  }
}

#cancel-icon {
  width: 2rem;
  height: auto;
}

#hide-search {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
}

#hide-search-icon {
  color: #fff;
  width: 3rem;
  height: auto;
  :hover {
    cursor: pointer;
    color: #ddd;
  }
}

.closed {
  border-radius: 0.5rem;
}

.open {
  border-radius: 0.5rem 0.5rem 0 0;
}

.offset {
  top: -80px;
}

.not-offset {
  top: 0;
}
