/* Search Bar */

#search-form {
  width: 100%;
  max-width: 35rem;
  margin-bottom: 3rem;
}

#search-heading {
  margin: 2rem auto;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

#search-bar {
  width: 100%;
  display: flex;
  align-items: center;
}

#search-results {
  position: relative;
  width: 90%;
}

#input-container {
  width: 100%;
  display: flex;
}

#search-input {
  position: relative;
  width: 100%;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  outline: 0;
}

#search-input:focus {
}

#search-button {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  color: #fff;
  background: #27ae60;
  transition: all 0.2 ease-in-out;
}

#search-button:hover {
  color: #fff;
  background: #229954;
  cursor: pointer;
}

#cancel-button {
  color: #aaa;
  background-color: transparent;
  border: none;
  background-color: #fff;
}

#cancel-button:hover {
  color: #888;
}

#cancel-button:hover {
  cursor: pointer;
}

#cancel-icon {
  width: 2rem;
  height: auto;
}

.closed {
  border-radius: 0.5rem 0 0 0.5rem;
}

.open {
  border-radius: 0.5rem 0 0 0;
}
