//weather main
#weather {
  width: 100%;
}

#weather-header {
  display: flex;
  flex-direction: column;
}

#weather-location {
  font-size: 2rem;
  font-weight: 900;
  color: #fff;
  margin-bottom: 1rem;
}

#weather-date {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

#weather-description {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}
#forecast-switches {
  display: grid;
  align-content: center;
  margin: 2rem;
}

#forecast {
  width: 100%;
  margin: 2rem auto;
}

.forecast-switch {
  text-transform: uppercase;
  border: none;
  background: none;
  color: #fff;
  font-size: 1.5rem;
}

.forecast-switch:hover {
  cursor: pointer;
  filter: brightness(80%);
}

.active {
  border-bottom: 0.2rem solid #fff;
}

.add-margin {
  margin-top: 7rem;
}

@media (max-width: 575px) {
  #weather-header {
    text-align: center;
  }
  #current-weather-details {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2rem;
    padding: 1rem 0;
  }

  #forecast-switches {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 576px) {
  #weather-header {
    text-align: center;
  }

  #current-weather {
    grid-template-columns: 1fr;
  }

  #current-weather-main {
    justify-content: space-evenly;
  }

  #current-weather-details {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2rem;
    padding: 1rem 0;
  }

  .forecast-grid {
    grid-template-columns: 1fr;
  }

  .forecast-grid-item {
    flex-direction: row;
  }

  #forecast-switches {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  #weather-header {
    margin-left: 2rem;
  }
}

@media (min-width: 992px) {
  #weather-header {
    text-align: left;
  }
  #current-weather {
    grid-template-columns: 0.75fr 1fr;
  }

  #current-weather-main {
    justify-content: space-around;
  }

  #current-weather-details {
    grid-template-columns: repeat(3, 1fr);

    border-left: 0.1rem solid #aaa;
  }

  .forecast-grid {
    grid-template-columns: repeat(7, 1fr);
  }

  .forecast-grid-item {
    flex-direction: column;
  }

  #forecast-switches {
    grid-template-columns: 10rem 10rem;
  }
}

@media (min-width: 1200px) {
}
