#weather-card {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  max-width: 40rem;
  width: 100%;
  margin: 1rem;
  border: 0.1rem solid #eee;
  border-radius: 0.5rem;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    transparent;
  overflow: hidden;
}

#weather-header {
  grid-area: 1/1/2/7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-bottom: 0.1rem solid #eee;
  color: #fff;
  font-size: 1.2rem;
}

#weather-details {
  grid-area: 2/1/6/7;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  color: #fff;
}

#temp-chunk {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;
}

#temp-main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

#details-chunk {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
}

@media (min-width: 576px) {
  #weather-details {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  #weather-details {
    flex-direction: column;
  }
}

@media (min-width: 992px) {
  #weather-details {
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  #weather-details {
    flex-direction: column;
  }
}
