@import "./reset";
@import "./results";
@import "./searchbar";
@import "./weather";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");

html {
  font-size: 16px;
}

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/backgrounds/hanny-naibaho-_OIusiNWH4g-unsplash.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0 1rem;
}

@media (min-width: 576px) {
  #weather-details {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  #weather-details {
    flex-direction: column;
  }
}

@media (min-width: 992px) {
  #weather-details {
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  #weather-details {
    flex-direction: column;
  }
}
